.CV {
    position: fixed;
    bottom: 3%;
    right: 2%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

#CV_menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4rem;
    margin-bottom: 0.2rem;
    z-index: -1;
}

#CV_menu div {
    margin: 0.2rem;
    padding: 0.8rem;
    border-radius: 8px;
    background-color: var(--light-color);
    transition: 0.3s;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height:3rem;
    border-radius: 8px;
    background-color: var(--light-color);
    color: #eceff4;
    text-transform: uppercase;
    font-family: 'Merriweather';
    font-size: 20px;
}

#CV_menu div a, .sourceCode a {
    color: var(--basic-color);
    font-family:'Merriweather-Bold';
    font-size: 16px;
    text-align: center;
}

#sourceCodeButton {
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    background-color: var(--border-section-color);
    position: relative;
    margin-right: 0;
    transition: 300ms;
}

#CV_menu div:hover, #sourceCodeButton:hover, #button:hover {
  background-color: var(--cv-color-click);
  cursor: pointer;
}