@font-face {
    font-family: 'Merriweather';
    src: url('/fonts/MerriweatherSans-Medium.ttf');
}

@font-face {
    font-family: 'Merriweather-Bold';
    src: url('/fonts/MerriweatherSans-Bold.ttf');
}

@font-face {
    font-family: 'Merriweather-Italic';
    src: url('/fonts/MerriweatherSans-LightItalic.ttf');
}

:root {
    --body-color: #12121a;
    --basic-color: rgb(255, 255, 255);
    --navbar-color: #191922;
    --light-color: #f3a48c;
    --title-section-color: #ebebeb;
    --timeline-color: #f3a48c;
    --border-section-color: #f3a48c;
    --bg-section-color: #212135;
    --cv-color-click: #1C1C27;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--basic-color);
    background-color: var(--body-color);
}
canvas{
    position:fixed;
    touch-action: auto!important;
    left:0;
    top:0;
    width: 100%;
    height: 100vh;
  }
.container {
    height: 100vh;
    text-align: center;
}

.contents {
    padding: 2% 25%;
    position: relative;
    top: 4.5rem;
}

header {
    background-position: center;
    text-align: center;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: var(--navbar-color);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 24px;
    width: 100%;
    position: fixed;
    z-index: 99;
    align-items: center;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-family: 'Merriweather';
    font-size: 1.4rem;
    height: 4.5rem;
    color: var(--light-color);
}

.navbar a {
    display: block;
    position: relative;
    color: #e5e9f0;
}

nav li a::after,
.name a::after {
    content: '';
    width: 100%;
    position: absolute;
    top: 2.85rem;
    bottom: 0;
    left: 0;
    height: 0.2em;
    transform: scaleX(0);
    transform-origin: center;
    transition: 0.3s;
}



nav li a:hover::after,
.name a:hover::after {
    top: 2.85rem;
    transform: scaleX(1);
    transform-origin: center;
    background-color: var(--light-color);
}

.menu-logo {
    display: none;
}

.language-logo {
    width: 24px;
    margin-right: 1rem;
    margin-top: 4px;
    margin-left: 0;
}

.name {
    align-self: center;
    margin: 0.4em 0;
    margin-left: 2%;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin: 0.4em 0;
    margin-right: 4%;
}

.contents div {
    padding: 3% 0;
}

section {
    margin: 5% 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section div {
    margin-left: 1%;
    margin-right: 1%;
}


h1 {
    font-family: 'Merriweather';
    text-align: left;
    text-transform: uppercase;
}

/* ----------------- EDUCATION, EXPERIENCE, PROJECTS ------------- */
.events section,
.projects section {
    display: block;
    padding: 0 1rem;
    text-align: left;
}


.perso-projects-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.events p {
    margin: 1rem 0rem;
}

.events ul,
.projects ul {
    list-style-type: none;
    padding: 0 0 0.5rem 0;
    margin: 0;
}


.events li,
.projects li {
    text-align: justify;
    margin: 1rem 0rem 1rem 0rem;
}

.events div {
    display: flex;
    align-items: flex-start;
    margin-left: 0;
    padding: 0.5rem 0;
}

.events div p,
.events div img {
    margin-top: 0;
    margin-bottom: 0;
}

.events div p {
    margin-left: 0.5rem;
}

.drawings li,
.drawings p {
    margin-bottom: 0;
}

.title {
    padding-top: 1rem;
    text-transform: uppercase;
    color: var(--title-section-color);
    font-family: 'Merriweather-Bold';
    font-size: larger;
}

.timeline-prog {
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather-Bold';
    color: var(--timeline-color);
    justify-content: space-between;

}

.timeline-prog p {
    padding: 0;
    margin: 0.2rem 0;
}

.timeline {
    color: var(--timeline-color);
    font-family: 'Merriweather-Bold';
}

.location {
    font-family: 'Merriweather-Italic';
}

.sourceCode {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}



/* ------------ PROJECTS ---------------- */

.projects section,
.drawings {
    display: flex;
    padding-bottom: 1rem;
    flex-direction: column;
}

.projects div {
    margin: 0;
    padding: 0;
}

.projects ul {
    margin-bottom: 0;
    padding-bottom: 0;
}

.projects .title {
    padding-top: 0;
}

.projects .timeline {
    color: var(--timeline-color);
}

.img {
    max-width: 15rem;
    overflow-x: hidden;
    max-height: 20rem;
    border-radius: 0.1rem;
    margin: 0rem 0.5rem 0rem 1rem;
    transition: transform 800ms;
}

.concepts {
    padding-top: 0.1rem;
    font-family: 'Merriweather-Bold';

}

.events .img {
    margin-bottom: 1rem;
}

.img:hover,
.raycaster:hover {
    transform: scale(1.02);
    cursor: zoom-in;
}
/* 
.example {
    display: flex;
    justify-content: center;

} */

.contact-list {
    flex-direction: column;
}
.events section,
.projects section,
.contact-list, .aboutme-content section {
    background-color: rgb(33, 33, 53);
    color: rgb(255, 255, 255, 0.95);
    border-radius: 5px;
    transition: 300ms;

}

.events section:hover,
.projects section:hover,
.contact-list:hover, .aboutme-content section:hover{
    box-shadow: 0.1px 1px 6px 0.1px #ecdfdf;
    background-color: rgba(33, 33, 53, 0.9);
    color: rgba(255, 255, 255, 1.0);
    opacity: 1.0;
}

.info {
    overflow: hidden;
    border: 1px solid red;
    background: #ff0;
}

.contents {
    top: 80vh;
  position: relative;
  transition: all 3s ease-out;
  height: 100%;
}

.info:hover > .contents {
    top:0;
}
/* ----------- OTHER TYPES OF SCREENS ------------- */


@media screen and (max-width:840px) {
    .menu-logo {
        width: 20px;
        display: block;
        margin-right: 10px;
    }

    .contents {
        padding: 3%;
    }

    .navbar {
        max-width: 100%;
    }

    nav ul {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 2.2em;
        left: 0;
        right: 0;
        padding-left: 2%;
        background-color: var(--navbar-color);
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
    }

    nav ul li {
        padding: 0.4em 0;
    }

    nav li a,
    .name a {
        background: linear-gradient(to right, #b12316, var(--light-color) 50%, #e5e9f0 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 300ms ease-in;

    }

    nav li a::after,
    .name a::after,
    nav li a:hover::after,
    .name a:hover::after {
        height: 0;
        visibility: none;
    }


    nav li a:hover,
    .name a:hover {
        background-position: 0 100%;
    }

    .contacts {
        flex-direction: row;
    }

    .events section {
        padding: 0rem 1rem;
    }

    .events section:hover,
    .projects section:hover {
        transform: translateX(0) translateY(0);
    }


    #menu {
        overflow: hidden;
        transition: 0.6s;
    }


}
